<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Technical Test App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']" class="nav-link" href="#">Question 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/part2']" class="nav-link" href="#">Question 2</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  <router-outlet></router-outlet>

</main>